{{!-- templates/partials/inventory.hbs --}}

<section class="ss-panel ss-panel-inventory">
  <details class="ss-inventory-block" open>
    <summary>Weapons & Combat Gear</summary>
    <textarea name="system.inventory.weapons">{{system.inventory.weapons}}</textarea>
  </details>

  <details class="ss-inventory-block">
    <summary>Tools & Props</summary>
    <textarea name="system.inventory.tools">{{system.inventory.tools}}</textarea>
  </details>

  <details class="ss-inventory-block">
    <summary>Valuables & Resources</summary>
    <textarea name="system.inventory.valuables">{{system.inventory.valuables}}</textarea>
  </details>

  <details class="ss-inventory-block">
    <summary>Miscellaneous</summary>
    <textarea name="system.inventory.misc">{{system.inventory.misc}}</textarea>
  </details>

</section>
